

#controls {

  margin-left: 10px;
  .controls-button {
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;

  }
}

.gameplay-row {
  .gameplay-row {

  }
}