#gameplay-header {
  margin-top: 10px;
}

button.score-button {
  margin-right: 3px;
  margin-left: 3px;
}

#gameplay {

  tr {
    th:first-child, th:last-child,
    td:first-child, td:last-child {
      padding: 4px 12px !important;
    }

    th:nth-child(2),
    td:nth-child(2) {
      padding: 4px !important;
    }
  }
}